<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="w-30"
  appSidebar
>
  <app-users-feature [selectedUserId]="selectedUserId" />
</p-sidebar>

<table style="overflow-x: auto">
  <thead>
    <tr>
      <th>Kullanıcı ID'si</th>
      <th>Kullanıcı İsmi</th>
      <th>Kullanıcı Soyismi</th>
      <th>Kullanıcı Hesap Oluşturma Tarihi</th>
      <th>Kullanıcı E-Mail Adresi</th>
      <th>Kiraladığı Kitaplar</th>
      <th>Kullanıcı Düzenle & Sil</th>
    </tr>
  </thead>

  <tbody *ngIf="pagedUsers.length > 0">
    <tr *ngFor="let user of pagedUsers">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.accountDate | date : "MMMM, dd, y" : null : "tr" }}</td>
      <td>{{ user.email }}</td>
      <td>
        <ng-container *ngIf="user.rentalBooks; else noBooks">
          <ul *ngIf="user.rentalBooks.length > 0" class="user-books">
            <li *ngFor="let userBook of user.rentalBooks">
              Kitap Adı: <strong>{{ getBooksName(userBook.bookId) }}</strong>
            </li>
          </ul>
        </ng-container>
        <ng-template #noBooks>
          <p>Kiraladığı Kitap Bulunamadı</p>
        </ng-template>
      </td>
      <td>
        <div class="edit">
          <app-button-control
            color="warning"
            (click)="toggleSidebar(user.id)"
            content="Düzenle"
          />
          <p-button
            (click)="deleteUser(user.id)"
            icon="pi pi-times"
            label="Sil"
            styleClass="btn btn-danger"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p-paginator
  [rows]="rows"
  [totalRecords]="users.length"
  [rowsPerPageOptions]="rowSize"
  (onPageChange)="onPageChange($event)"
/>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="pagedUsers.length === 0" class="empty">Kullanıcılar Bulunamadı</div>
