<!-- <table style="overflow-x: auto">
  <thead>
    <tr>
      <th>Kitap ID</th>
      <th>Kitap Kapak Fotoğrafı</th>
      <th>Kitap İsmi</th>
      <th>Kitap Açıklaması</th>
      <th>Kitap Yayıncısı</th>
      <th>Kitap Yazarı</th>
      <th>Kitap Kategorisi</th>
      <th>Kitap Fiyatı</th>
      <th>Kitap Baskı Tarihi</th>
      <th>Kitap Sayfa Sayısı</th>
    </tr>
  </thead>

  <tbody *ngIf="books.length > 0">
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>
        <div class="img">
          <img [src]="book.imageUrl" [alt]="book.title" width="50px" />
        </div>
      </td>
      <td>
        <p class="title">
          {{ book.title }}
        </p>
      </td>
      <td>
        <p class="desc">{{ book.description }}</p>
      </td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.categoryId }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.publicationDate | date : "MMMM, dd, y" : null : "tr" }}</td>
      <td>{{ book.pageNumber }}</td>
    </tr>
  </tbody>
</table>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="books.length === 0" class="empty">Kitaplar Bulunamadı</div> -->
