<div class="content">
  <form [formGroup]="form" (ngSubmit)="addBook($event)" class="form">
    <app-input-control
      [form]="form"
      [fb]="newTitle"
      placeholder="Kitap Adını Giriniz"
    />
    <angular-editor
      [formControl]="newDescription"
      [config]="editorConfig"
    ></angular-editor>
    <app-input-control
      [form]="form"
      [fb]="newImageUrl"
      placeholder="Kitap Kapak Fotoğrafı Linkini Giriniz"
    />
    <app-input-control
      [form]="form"
      [fb]="newPublisher"
      placeholder="Kitap Yayıncısını Giriniz"
    />
    <app-input-control
      [form]="form"
      [fb]="newAuthor"
      placeholder="Kitap Yazarını Giriniz"
    />
    <p-dropdown
      [options]="categories"
      [(ngModel)]="selectedCategory"
      optionLabel="title"
      placeholder="Kitap Kategorisini Seçiniz"
    />
    <app-input-control
      [form]="form"
      [fb]="newPrice"
      type="number"
      placeholder="Kitap Fiyatını Giriniz"
    />
    <app-input-control
      [form]="form"
      [fb]="newPublicationDate"
      type="date"
      placeholder="Kitap Yayın Tarihini Giriniz"
    />
    <app-input-control
      [form]="form"
      [fb]="newPageNumber"
      type="number"
      placeholder="Kitap Sayfa Sayısını Giriniz"
    />
    <app-button-control [disabled]="!form.valid" content="Kitap Ekle" />
  </form>
  <div class="preview">
    <h1>Kitap Ekle</h1>
    <div class="preview-text">
      <p><strong>Kitap Başlığı: </strong>{{ newTitle.value }}</p>
      <p><strong>Kitap Açıklaması: </strong>{{ newDescription.value }}</p>
      <p>
        <strong>Kitap Kapak Fotoğrafı: </strong>
        <img [src]="newImageUrl.value" alt="" />
      </p>
      <p><strong>Kitap Yayıncısı: </strong>{{ newPublisher.value }}</p>
      <p><strong>Kitap Yazarı: </strong>{{ newAuthor.value }}</p>
      <p><strong>Kitap Fiyatı: </strong>{{ newPrice.value }}</p>
      <p><strong>Kitap Yayın Tarihi: </strong>{{ newPublicationDate.value }}</p>
      <p><strong>Kitap Sayfa Sayısı: </strong>{{ newPageNumber.value }}</p>
    </div>
  </div>
  <p-toast />
  <p-confirmDialog />
</div>
