<div class="content">
  <h2 class="title" *ngIf="selectedBlogId === null; else edit">Blog Ekle</h2>
  <ng-template #edit>
    <h2 class="title">Bloğu Düzenle</h2>
  </ng-template>
  <form
    [formGroup]="form"
    class="form"
    (ngSubmit)="selectedBlogId !== null ? addBlog(selectedBlogId) : addBlog()"
  >
    <app-input-control
      [form]="form"
      [fb]="newTitle"
      placeholder="Blog Adını Giriniz"
    />
    <angular-editor [formControl]="newDescription" [config]="editorConfig" />
    <app-input-control
      [form]="form"
      [fb]="newImageUrl"
      placeholder="Blog Kapak Fotoğrafı Linkini Giriniz"
    />
    <app-input-control [form]="form" [fb]="newPublisher" type="date" />
    <app-button-control
      [disabled]="!form.valid"
      [content]="selectedBlogId !== null ? 'Bloğu Güncelle' : 'Blog Ekle'"
    />
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
  </form>
</div>
