.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 170px);
}

.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 14px 0px rgba(136, 136, 136, 0.75);
  padding: 25px;
  position: relative;
  .title {
    color: #1f1f1f;
    font-size: 20px;
    text-align: center;
  }

  ::ng-deep {
    app-button-control {
      .p-20 {
        padding: 10px 0 0 0 !important;
      }
    }
  }

  .password-btn {
    position: absolute;
    top: 148px;
    left: 453px;
    background-color: #404eed;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    color: #fff;
    font-size: 15px;
  }
}
