<form
  [formGroup]="form"
  class="form"
  (ngSubmit)="
    selectedCategoryId !== null ? addCategory(selectedCategoryId) : addCategory()
  "
>
  <app-input-control
    [form]="form"
    [fb]="newTitle"
    placeholder="Kategori Adını Giriniz"
  />
  <app-input-control
    [form]="form"
    [fb]="newDescription"
    placeholder="Kategori Açıklamasını Giriniz"
  />
  <app-button-control
    [disabled]="!form.valid"
    [content]="
      selectedCategoryId !== null ? 'Kategoriyi Güncelle' : 'Kategori Ekle'
    "
  />
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</form>
