<div class="btn-right">
  <app-button-control path="/admin/add-book" content="Kitap Ekle" />
</div>
<table style="overflow-x: auto">
  <thead>
    <tr>
      <th>Kitap ID'si</th>
      <th>Kitap İsmi</th>
      <th>Kitap Açıklaması</th>
      <th>Kitap Kapak Fotoğrafı</th>
      <th>Kitap Yayıncısı</th>
      <th>Kitap Yazarı</th>
      <th>Kitap Kategorisi</th>
      <th>Kitap Fiyatı</th>
      <th>Kitap Baskı Tarihi</th>
      <th>Kitap Sayfa Sayısı</th>
      <th>Kitap Kira Bilgisi</th>
      <th>Düzenle & Sil</th>
    </tr>
  </thead>

  <tbody *ngIf="books.length > 0">
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>
        <p class="desc">{{ book.description }}</p>
      </td>
      <td class="img">
        <img [src]="book.imageUrl" [alt]="book.title" width="50px" />
      </td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.category }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.publicationDate | date }}</td>
      <td>{{ book.pageNumber }}</td>
      <td>
        <p>{{ book.rentInformation.rent ? "Kiralandı" : "Kiralık" }}</p>
        <p>
          {{ book.rentInformation.rent ? book.rentInformation.byWhom : "" }}
        </p>
      </td>
      <td>
        <app-button-control
          color="warning"
          [path]="'/admin/edit-book/' + book.id"
          content="Düzenle"
        />
        <p-button
          (click)="deleteBook($event, book.id)"
          icon="pi pi-times"
          label="Sil"
          styleClass="btn btn-danger"
        />
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="books.length === 0" class="empty">Kitaplar Bulunamadı</div>
