<div class="btn-right">
  <app-button-control (click)="toggleSidebar()" content="Kategori Ekle" />
</div>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="w-30"
  appSidebar
>
  <app-category-feature [selectedCategoryId]="selectedCategoryId" />
</p-sidebar>

<table style="overflow-x: auto">
  <thead>
    <tr>
      <th>Kategori ID'si</th>
      <th>Kategori İsmi</th>
      <th>Kategori Açıklaması</th>
      <th>Düzenle & Sil</th>
    </tr>
  </thead>

  <tbody *ngIf="pagedCategories.length > 0">
    <tr *ngFor="let category of pagedCategories">
      <td>{{ category.id }}</td>
      <td>
        <div class="title">
          {{ category.title }}
        </div>
      </td>
      <td>{{ category.description }}</td>
      <td>
        <div class="edit">
          <app-button-control
            color="warning"
            (click)="toggleSidebar(category.id)"
            content="Düzenle"
          />
          <p-button
            (click)="deleteCategory(category.id)"
            icon="pi pi-times"
            label="Sil"
            styleClass="btn btn-danger"
            [attr.data-id]="category.id"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p-paginator
  [rows]="rows"
  [totalRecords]="categories.length"
  [rowsPerPageOptions]="rowSize"
  (onPageChange)="onPageChange($event)"
/>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="pagedCategories.length === 0" class="empty">
  Kategoriler Bulunamadı
</div>
