<div class="btn-right">
  <app-button-control (click)="toggleSidebar()" content="Kategori Ekle" />
</div>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="w-30"
  appSidebar
>
  <app-category-feature [selectedBookId]="selectedBookId" />
</p-sidebar>

<table style="overflow-x: auto">
  <thead>
    <tr>
      <th>Kategori ID'si</th>
      <th>Kategori İsmi</th>
      <th>Kategori Açıklaması</th>
      <th>Düzenle & Sil</th>
    </tr>
  </thead>

  <tbody *ngIf="categories.length > 0">
    <tr *ngFor="let category of categories">
      <td>{{ category.id }}</td>
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
      <td>
        <app-button-control
          color="warning"
          (click)="toggleSidebar(category.id)"
          content="Düzenle"
        />
        <p-button
          (click)="deleteCategory(category.id)"
          icon="pi pi-times"
          label="Sil"
          styleClass="btn btn-danger"
          [attr.data-id]="category.id"
        />
      </td>
    </tr>
  </tbody>
</table>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="categories.length === 0" class="empty">Kategoriler Bulunamadı</div>
