<header class="header">
  <div class="container">
    <div class="header-inner">
      <a routerLink="/" class="head-brand">
        <h1>Kitapçı Dayı</h1>
      </a>
      <nav class="nav">
        <a
          *ngFor="let item of navItems"
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          {{ item.title }}
        </a>
      </nav>
      <div class="profile">
        <p>{{ username }}</p>
        <div class="user-dropdown-content">
          <button (click)="logout()" class="dropdown-item">Çıkış Yap</button>
        </div>
      </div>
    </div>
  </div>
</header>
