<header class="header">
  <div class="container">
    <div class="header-inner">
      <a routerLink="/" class="head-brand">
        <h1>Kitapçı Dayı</h1>
      </a>
      <nav class="nav">
        <a
          *ngFor="let item of navItems"
          [routerLink]="item?.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          {{ item.title }}
        </a>
      </nav>
      <div class="btn-group">
        <app-button-control path="/login" content="Giriş Yap" />
        <app-button-control path="/signup" content="Kayıt Ol" />
      </div>
    </div>
  </div>
</header>
