.header {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  .head-brand {
    img {
      width: 100%;
    }
  }
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;
    .nav-item {
      font-weight: 600;
      padding: 30px 15px;
      transition: 0.3s;
      background-color: transparent;
      border: none;
      &.active {
        color: #f65d4e;
      }
      &:hover {
        color: #f65d4e;
      }

      .dropdown {
        position: relative;
        &:hover .dropdown-content {
          display: block;
        }
        .dropdown-content {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          .dropdown-item {
            background-color: #1f1f1f;
          }
        }
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 15px;
    .user-content {
      position: relative;
      .user-dropdown {
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 7px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        i {
          font-size: 16px;
        }
        p {
          font-weight: 600;
          font-size: 16px;
        }
        &:hover {
          background-color: rgba(246, 92, 78, 0.712);
        }
      }
      .user-dropdown-content {
        position: absolute;
        top: 45px;
        left: 0;
        display: none;
        background-color: #fff;
        border: 1px solid #f65d4e;
        min-width: 150px;
        .dropdown-item {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.navbar {
  height: 60px;
  background-color: #f65d4e;
  display: flex;
  align-items: center;
  .navbar-inner {
    display: flex;
    align-items: center;
    .title {
      flex: 0 1 24%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      font-size: 15px;
      font-weight: 600;
      background-color: #cf3324;
      color: #fff;
      height: 60px;
      padding: 0 50px;
      border: none;
      cursor: pointer;
    }
    .search {
      flex: 0 1 58%;
      margin: 0 75px;
      .form {
        display: flex;
        align-items: center;
        position: relative;
        .input {
          width: 100%;
          padding: 15px 20px;
          border: none;
          border-radius: 50px;
          outline: none;
          font-size: 15px;
        }
        .search-icon {
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
          border: none;
          font-size: 20px;
          cursor: pointer;
          width: 52px;
          height: 48px;
        }
      }
    }
    .social-nav {
      flex: 0 1 19%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .social-item {
        color: #fff;
        font-size: 18px;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        &:hover {
          background-color: #cf3324;
        }
      }
    }
  }
}
